<ion-view title="All Holidays ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>20th Feb - 25th Feb</h2>
                <p>Jana in Durham</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>5th Mar - 15th Mar</h2>
                <p>Nishan in Galle</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>21st Jun - 28th Jun</h2>
                <p>Ali in Kandy</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>