<ion-view title="My Holidays">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <a ui-sref="tabsController.newRequest" class="button button-positive button-outline button-block ">New request</a>
        <div class="list card">
            <div class="item item-divider">21st Jun - 28th Jun</div>
            <div class="item item-body">
                <div>
                    <h2>Ali in Kandy</h2>
                </div>
                <form class="list"></form>
                <div>
                    <h2>Response from Nishan</h2>

                    <p>"That's cool :)"</p>
                </div>
                <form class="list"></form>
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true">Approved</ion-toggle>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>