<ion-view title="New Request">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">From</span>
                <input type="text" placeholder="DD-MM-YYYY">
            </label>
            <label class="item item-input">
                <span class="input-label">To</span>
                <input type="text" placeholder="DD-MM-YYYY">
            </label>
            <label class="item item-input">
                <span class="input-label">Comments</span>
                <input type="text" placeholder="Comments">
            </label>
        </form>
        <button class="button button-stable button-block ">Submit</button>
    </ion-content>
</ion-view>