<ion-view title="Requests">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">14th Jul – 21st Jul</div>
            <div class="item item-body">
                <div>
                    <h2>Gows in Cornwall</h2>
                </div>
                <form class="list">
                    <div class="spacer" style="height: 100px;"></div>
                    <label class="item item-input">
                        <input type="text" placeholder="Comments">
                    </label>
                    <ion-toggle toggle-class="toggle-positive">Approve</ion-toggle>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">21st Jul – 31st Jul</div>
            <div class="item item-body">
                <div>
                    <h2>Sharon in Goa</h2>
                </div>
                <form class="list">
                    <div class="spacer" style="height: 100px;"></div>
                    <label class="item item-input">
                        <input type="text" placeholder="Comments">
                    </label>
                    <ion-toggle toggle-class="toggle-positive">Approve</ion-toggle>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>